---
import fetchApi from "../../lib/strapi";
import type { Page } from "../../types/page";


const [page] = await fetchApi<Page[]>({endpoint: "pages", wrappedByKey: 'data'});
---

<html>
	<head>
		<title>{page.title}</title>
	</head>
	<body>
		<h1>{page.title}</h1>
</html>